body{
    margin: 0px;
    padding: 0px;
    background-color: darkgreen;

    font-family: 'Roboto', sans-serif;
    /*font-family: 'Mulish', sans-serif;*/
}

h1, h2, h3, p, ul, li {
    margin: 0px;
    padding: 0px;
}

main{
    display: flex;
    justify-content: center;
}

.main--container {
    border: 1px solid rgb(0,0,0);
    max-width: 1000px;
    padding: 0px, 50px;
    display: flex;
    align-items: center;
}

.main--description {
    border: 1px solid rgb(0,0,0);
}

.main--description h1 {
    font-family: 'Mulish', sans-serif;
    color: rgb(255, 183, 0);
    font-size: 60px;
}

.main--description p {
    font-size: 28px;
    padding-right: 30px;
}

.main--login{
    border: 1px solid rgb(0,0,0);
}