<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Paid4Luck</title>

    <link rel = "stylesheet" type="text/css" href="../CSS/style.css">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@900&family=Roboto:ital@1&display=swap" rel="stylesheet">

</head>
<body>
    <main>
        <div class= "main--container">
            <div class = "main--description">
                <h1>Paid 4Luck</h1>
                <p>Site de apostas 100% confiável e seguro. <dd>"As vezes você paga pela sorte, as vezes ela paga pra você"</p>
            </div>
            <div class = "main--login">
                <div class = "main--card">
                    <form>
                        <div>
                            <input type="email" name = "email" placeholder="Email ou telefone">
                        </div>
                        <div>
                            <input type="password" name = "password" placeholder="Senha">
                        </div>
                        <button type="submit">Entrar</button>
                        <div class ="main--link">
                            <a href="">Esqueceu a senha?</a>
                        </div>
                        <hr>

                        <div class="main--btn">
                            <a href="#">Criar uma nova conta</a>
                        </div>
                    </form>
                </div>
                <div class = "main--footer">
                    <a href="#">Link</a> a ser implementado para levar a outra página
                </div>
            </div>
        </div>
    </main>
    <footer>
        ...
    </footer>
</body>
</html>